<% @members.each do |member| %>
  <ul class="member">
    <li class = "member_name"><%= member.name %></li>
    <li class = "member_role"><%= member.role %></li>
    <li class = "member_party"><%= member.party %></li>
    <li class = "member_district"><%= member.district %></li>
  </ul>
<% end %>
